
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="ff-Open-Sans user-profile">
				<img src="{{userctrl.userReviews[0].userID.image}}">
				<p>{{userctrl.userReviews[0].userID.fullName}}</p>
				<button class="follow-btn" ng-show="userctrl.currFlag && !userctrl.followFlag" ng-click="userctrl.addFollower(userctrl.userReviews[0].userID._id)">Follow</button>
				<button class="follow-btn" ng-show="userctrl.currFlag && userctrl.followFlag" ng-click="userctrl.removeFollower(userctrl.userReviews[0].userID._id)">Unfollow</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2" ng-repeat="user in userctrl.userReviews">
			<div class="img-block">
				<img src="{{user.technology.techID.image}}">
			</div>
			<div class="review-card wrapper-15 d-inline-block u-review-card">
				<div class="review-head">
					<p><a href="#/tech/{{user.technology.techID._id}}">{{user.technology.name}}</a></p>
					<div class="rating-value pull-right">
						<span class="fa fa-star"></span> {{user.review.rating}}
					</div>
				</div>
				<p class="review-title">{{user.review.title}}</p>
				<p class="review-body">{{user.review.body}}</p>
				<p class="review-body">Check out the following <strong>Source</strong><br /><a href="{{review.review.source}}">{{user.review.source}}</a></p>
			</div>
		</div>
	</div>
</div>





